{% extends 'base.html' %}

{% block content %}
<header>
	<div class="banner">
	    <img src="img/header.jpg" class="img-responsive" alt="Cinque Terre">
	</div>
        <div class="header-content">
            <div class="header-content-inner">
                <hr>
                <p>Las mujeres también han tenido un rol muy importante en el Software Libre. Desde tiempos muy remotos las mujeres hacían uso de las tecnologías para difundir información.</p>
                <a href="#womoz" class="btn btn-primary btn-xl page-scroll">Leer mas</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="womoz">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Ir mas alla y cambiar el mundo atraves de la igualdad y la tecnologia</h2>
                    <hr class="light">
                    <p class="text-faded">Womoz Nicaragua es una iniciativa de Mozilla Hispano, un proyecto libre sin fines de lucro, del cual es impulsado por colaboradores de Mozilla Nicaragua con el apoyo de nuestros amigos de Mozilla a nivel Centroamericano. El objetivo principal de WOMOZ es incluir a las mujeres en el uso de la tecnologias y aumentar su participacion en la comunidades de codigo abierto, principalmente en Mozilla.</p>
                  <!--<a href="#services" class="page-scroll btn btn-default btn-xl sr-button">Get Started!</a> -->
                </div>
            </div>
        </div>
    </section>

    <section id="objetivos">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Objetivos</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa fa-female text-primary sr-icons"></i>
                        <h3>Inclusion</h3>
                        <p class="text-muted">Inclusión femenino en la tecnología</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart text-primary sr-icons"></i>
                        <h3>Igualdad de Genero</h3>
                        <p class="text-muted">Mismas oportunidades para hombres y mujeres</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa fa-code text-primary sr-icons"></i>
                        <h3>Técnologia</h3>
                        <p class="text-muted">Tecnología como un agente de cambio transformador</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa fa-group text-primary sr-icons"></i>
                        <h3>Comunidades</h3>
                        <p class="text-muted">Mayor participación de las mujeres en la comunidades, especialmente en Mozilla</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="no-padding" id="eventos">
        <div class="container-fluid">
            <div class="row no-gutter popup-gallery">
                <div class="col-lg-4 col-sm-6">
                    <a href="img/portfolio/fullsize/1.jpg" class="portfolio-box">
                        <img src="img/portfolio/thumbnails/1.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Evento
                                </div>
                                <div class="project-name">
                                    Evento sobre Mozilla
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="img/portfolio/fullsize/2.jpg" class="portfolio-box">
                        <img src="img/portfolio/thumbnails/2.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Evento
                                </div>
                                <div class="project-name">
                                    Evento sobre Mozilla
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="img/portfolio/fullsize/3.jpg" class="portfolio-box">
                        <img src="img/portfolio/thumbnails/3.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Evento
                                </div>
                                <div class="project-name">
                                    Evento sobre Mozilla
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="img/portfolio/fullsize/4.jpg" class="portfolio-box">
                        <img src="img/portfolio/thumbnails/4.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Evento
                                </div>
                                <div class="project-name">
                                    Evento sobre Mozilla
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="img/portfolio/fullsize/5.jpg" class="portfolio-box">
                        <img src="img/portfolio/thumbnails/5.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Evento
                                </div>
                                <div class="project-name">
                                    Evento sobre Mozilla
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="img/portfolio/fullsize/6.jpg" class="portfolio-box">
                        <img src="img/portfolio/thumbnails/6.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Evento
                                </div>
                                <div class="project-name">
                                    Evento sobre Mozilla
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>Otros eventos</h2>
                <a href="http://startbootstrap.com/template-overviews/creative/" class="btn btn-default btn-xl sr-button">Ver</a>
            </div>
        </div>
    </aside>

    <section id="contacto">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Quieres ser parte de WOMOZ</h2>
                    <hr class="primary">
                    <p>Registrate <a href="http://goo.gl/forms/ICmxdsDBxjAKxMu82">aqui</a> y forma parte de nuestra familia :)</p>
	            <a href="">
		      <i class="fa fa-4x fa fa-list-alt text-primary sr-icons"></i> </a>
                </div>
                <p> <Comunicate>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x sr-contact"></i>
                    <p>+505 82641438</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                    <p><a href="mailto:your-email@your-domain.com">womoznicaragua@gmail.com</a></p>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
